{% extends 'accounts/panel/base.html' %}
{% load static %}

{% block content %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Delete</th>
                      <th>shop_id</th>
                      <th>uniqueName</th>
                      <th>email</th>
                      <th>description</th>
                      <th>country</th>
                      <th>city</th>
                      <th>lat</th>
                      <th>lng</th>
                      <th>rating_count</th>
                      <th>rating_average</th>


                    </tr>
                  </thead>
                  <tbody>
{% for wtf in wtf %}
                    <tr>
                      <td><a href="{% url 'company:whatthefork-update' wtf.pk  %}"><span class="btn btn-primary">Edit</span></a></td>
                      <td><a href="{% url 'company:whatthefork-delete' wtf.pk  %}"><span class="btn btn-danger">Delete</span></a></td>

                      <td>{{ wtf.shop_id }}</td>
                      <td>{{ wtf.uniqueName }}</td>
                      <td>{{ wtf.email }}</td>
                      <td>{{ wtf.description | truncatewords:"9"  }}</td>
                      <td>{{ wtf.country }}</td>
                      <td>{{ wtf.city }}</td>
                      <td>{{ wtf.lat }}</td>
                      <td>{{ wtf.lng }}</td>
                      <td>{{ wtf.rating_count }}</td>
                      <td>{{ wtf.rating_average }}</td>



                    </tr>
{% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="card-footer clearfix col-12 d-flex justify-content-center">
            <ul class="pagination pagination-sm m-0 float-right">
          
          
              {% if page_obj.has_previous %}
          
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">«</a></li>
              {% if page_obj.number > 3 %}
              <li class="page-item"><a class="page-link" href="?page=1">۱</a></li>
          
              {% if page_obj.number > 4 %}
              <li class="page-item"><span class="page-link">...</span></li>
              {% endif %}
              {% endif %}
              {% endif %}
          
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
              {% endfor %}
          
              {% if page_obj.has_next %}
          
              {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
              <li class="page-item"><span class="page-link">...</span></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
              {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
              {% endif %}
          
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">»</a></li>
              {% endif %}
          
            </ul>
          </div>
          

{% endblock %}


