{% extends 'accounts/panel/base.html' %}
{% load static %}

{% block content %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Delete</th>
                      <th>ID</th>
                      <th>url</th>
                      <th>name</th>
                      <th>city</th>
                      <th>address</th>
                      <th>postcode</th>
                      <th>phone</th>
                      <th>social_media</th>
                      <th>apps</th>
                      

                    </tr>
                  </thead>
                  <tbody>
{% for foodhub in foodhub %}
                    <tr>
                      <td><a href="{% url 'company:foodhub-update' foodhub.pk  %}"><span class="btn btn-primary">Edit</span></a></td>
                      <td><a href="{% url 'company:foodhub-delete' foodhub.pk  %}"><span class="btn btn-danger">Delete</span></a></td>

                      <td>{{ foodhub.id }}</td>
                      <td>{{ foodhub.url }}</td>
                      <td>{{ foodhub.name }}</td>
                      <td>{{ foodhub.city }}</td>
                      <td>{{ foodhub.address }}</td>
                      <td>{{ foodhub.postcode }}</td>
                      <td>{{ foodhub.phone }}</td>
                      <td>{{ foodhub.social_media }}</td>
                      <td>{{ foodhub.apps }}</td>

                    </tr>
{% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

{% endblock %}


