{% extends 'accounts/panel/base.html' %}
{% load static %}

{% block content %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>name</th>
                      <th>email</th>
                      <th>is_active</th>
                      <th>is_admin</th>
                      <th>is_superuser</th>
                      <th>Edit</th>
                      <th>Delete</th>

                      

                    </tr>
                  </thead>
                  <tbody>
{% for users in users %}
                    <tr>


                      <td>{{ users.id }}</td>
                      <td>{{ users.username }}</td>
                      <td>{{ users.email }}</td>
                      <td>{{ users.is_active }}</td>
                      <td>{{ users.is_admin }}</td>
                      <td>{{ users.is_superuser }}</td>
                      <td><a href="{% url 'company:profile-update' users.pk  %}"><span class="btn btn-primary">Edit</span></a></td>
                      {% comment %} <td><a href="{% url 'company:foodhub-delete' foodhub.pk  %}"><span class="btn btn-danger">Delete</span></a></td>  {% endcomment %}

                    </tr>
{% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

{% endblock %}


