{% extends 'accounts/panel/base.html' %}
{% load static %}

{% block content %}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Delete</th>
                      <th>ID</th>
                      <th>shop_id</th>
                      <th>shop_url</th>
                      <th>name</th>
                      <th>rating</th>
                      <th>Latitude</th>
                      <th>Longitude</th>

                      

                    </tr>
                  </thead>
                  <tbody>
{% for ubereats in ubereats %}
                    <tr>
                      <td><a href="{% url 'company:ubereats-update' ubereats.pk  %}"><span class="btn btn-primary">Edit</span></a></td>
                      <td><a href="{% url 'company:ubereats-delete' ubereats.pk  %}"><span class="btn btn-danger">Delete</span></a></td>

                      <td>{{ ubereats.id }}</td>
                      <td>{{ ubereats.shop_id }}</td>
                      <td>{{ ubereats.shop_url }}</td>
                      <td>{{ ubereats.name }}</td>
                      <td>{{ ubereats.rating }}</td>
                      <td>{{ ubereats.Latitude }}</td>
                      <td>{{ ubereats.Longitude }}</td>


                    </tr>
{% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

{% endblock %}


